
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>CLAIM GENERATOR</title>
</head>
<body>
	<br />
	<div class="container">
	<div class="col-md-12">
		<nav class = "navbar navbar-default" role = "navigation">
		   <div class = "navbar-header">
		      <a class = "navbar-brand" href = "#">Car2Claim Dashboard</a>
		   </div>
		   <div>
		      <p class = "navbar-text navbar-right" style="margin-right:10%">
		         Signed In: Barrett
		      </p>
		   </div>
		</nav>
	</div>
	<br />
	<div class="col-md-8 col-md-offset-2 well-lg" style="background-color: #E5DB97">
				<form class="form-horizontal" action="/claims3">
					<div class="row">Loss Details</div>
					<br />
					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-pencil"></i>
						</span>
						<input type="text" class="form-control" name="factsOfLoss" id="factsOfLoss" placeholder="Briefly describe what happened">
					</div>
					<div class="input-group"  style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
						<input type="text" class="form-control" name="dateOfLoss" id="dateOfLoss" placeholder="Date of Loss" value="<%= trips[1].vehicle_events[0].created_at %>">
					</div>
					<div class="input-group"  style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-time"></i>
						</span>
						<input type="text" name="timeOfLoss" id="timeOfLoss"  class="form-control" placeholder="Time Of Loss" value="<%= trips[1].ended_at %>"/>
					</div>

					<div class="row">Loss Location Details</div>
					<br/>
					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-globe"></i>
						</span>
						<input type="text" class="form-control" placeholder="Address Description" value="<%= trips[3].end_address.street_number %>&nbsp;<%= trips[3].end_address.street_name %>">

					</div>

					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-globe"></i>
						</span>
						<input type="text" class="form-control" placeholder="City" value="<%=trips[3].end_address.city %>">

					</div>

					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-globe"></i>
						</span>
						<input type="text" class="form-control" placeholder="State" value="<%=trips[3].end_address.state %>">

					</div>

					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-globe"></i>
						</span>
						<input type="text" class="form-control" placeholder="Country" value="<%=trips[3].end_address.country %>">

					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<button style="width:100%;" class="btn btn-info">Next</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>
