<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <style>
    body{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    }
    #info{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0717+0,cca3a5+100 */
background: #e1261c; /* Old browsers */

}
</style>   
	<title>CLAIM GENERATOR</title>
</head>
<body>
	<br />
	<div class="container">
	<div class="col-md-12">
		<nav class = "navbar navbar-default" role = "navigation">
		   <div class = "navbar-header">
		      <a class = "navbar-brand" href = "#">Car2Claim Dashboard</a>
		   </div>
		   <div>
		      <p class = "navbar-text navbar-right" style="margin-right:10%">
		         Signed In: Barrett
		      </p>
		   </div>
		</nav>
	</div>
	<br />
	<div class="col-md-8 col-md-offset-2 well-lg" id="info">
				<form class="form-horizontal" action="/claims3">
					<div class="row">
            <h4 style="color:white;font-weight: bold;">
            Loss Details
            </h4>
        </div>
					<br />
					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-pencil"></i>
						</span>
						<input type="text" class="form-control" name="factsOfLoss" id="factsOfLoss" placeholder="Briefly describe what happened">
					</div>
					<div class="input-group"  style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
						<input type="text" class="form-control" name="dateOfLoss" id="dateOfLoss" placeholder="Date of Loss" value="<%= trips[1].vehicle_events[0].created_at %>">
					</div>
					<div class="input-group"  style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-time"></i>
						</span>
						<input type="text" name="timeOfLoss" id="timeOfLoss"  class="form-control" placeholder="Time Of Loss" value="<%= trips[1].ended_at %>"/>
					</div>

			<div class="row">
            <h4 style="color:white;font-weight: bold;">
            Loss Location
            </h4>
                    </div>
					<br/>
					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-globe"></i>
						</span>
						<input type="text" class="form-control" placeholder="Address Description" value="<%= trips[3].end_address.street_number %>&nbsp;<%= trips[3].end_address.street_name %>">

					</div>

					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-globe"></i>
						</span>
						<input type="text" class="form-control" placeholder="City" value="<%=trips[3].end_address.city %>">

					</div>

					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-globe"></i>
						</span>
						<input type="text" class="form-control" placeholder="State" value="<%=trips[3].end_address.state %>">

					</div>

					<div class="input-group" style="padding-bottom:20px">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-globe"></i>
						</span>
						<input type="text" class="form-control" placeholder="Country" value="<%=trips[3].end_address.country %>">

					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<button style="width:100%;" class="btn btn-primary">Next</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>
