<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
  function runScenarios() {
    $(document).ready(function(){
       trips.forEach(function(trip) {
          if (trip.hard_brakes > 0 && trip.ignitionOff > 0) {
              $("." + trip.id).css("background-color":"red");
          }
      }); 
    }
  }
</script>

<link rel="stylesheet"
  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>TRIPS</title>
</head>
<body>

  <div class="container">

  <h1 style='text-align:center'>RECENT TRIPS</h1>
   <table class="table table-bordered">
    <thead>
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Start Address</th>
        <th>End Address</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <% trips.forEach(function(trip) {%>
        <tr id="<%= trip.id %>">
          <td><%= trip.started_at %></td>
          <td><%= trip.ended_at %></td>
          <td><%= trip.duration_s %></td>
          <td><%= trip.start_address.name %></td>
          <td><%= trip.end_address.name %></td>
          <td><%= trip.distance_m %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <form>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Scenario # </th>
          <th>Enabled?</th>
          <th>Hard Break</th>
          <th>Spead Over 70</th>
          <th>Ignition Off</th>
          <th>Engine Temperature</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>Scenario 1</td>
            <div class="checkbox">
              <td><input type="checkbox" name="scenarioEnabled" value="scenario1" checked></td>
            </div>
            <td>greater than 1</td>
            <td></td>
            <td>ignition is turned off</td>
            <td></td>
          </tr>
      </tbody>
    </table>
  </form>
  <button onclick="runScenarios()">Run Scenarios</button>
  </div>
</body>
</html>
