<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript">

		function runScenarios() {
			var table = document.getElementById("tripTable");
			var matched = false;
			for (var i = 1, row; row = table.rows[i]; i++) {
				if (row.cells[6].innerHTML > 0 && row.cells[7].innerHTML > 0) {
					document.getElementById("submitClaim").style = "visibility:visible";
					document.getElementById("runScenarios").style = "visibility:hidden";
					row.style = "background:red";
					matched = true;
					break;
				}
			}

			if (matched === false) {
				alert("nothing matched");
			}
		}
	</script>

	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>TRIPS</title>
</head>
<body>
	<br />
	<div class="container">
		<div class="col-md-12 well well-lg" style="background-color: #B20600;">
			<h2 style="color:white; text-align: center;">Automatic Claim Generator</h2>
		</div>
		<br />
		<div class="col-md-12 well well-lg" style="text-align:center; background-color: #E5DB97"><h1>RECENT TRIPS</h1></div>
		<div class="col-md-12">
			<table id="tripTable" class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th>Start</th>
						<th>End</th>
						<th>Duration (Mins)</th>
						<th>Start Address</th>
						<th>End Address</th>
						<th>Distance (Miles)</th>
					</tr>
				</thead>
				<tbody>
					<% trips.forEach(function(trip) {%>
					<tr id="<%= trip.id %>">
						<td><%= trip.started_at.substring(0,10) %>&nbsp;<%= trip.started_at.substring(11,19) %></td>
						<td><%= trip.ended_at.substring(0,10) %>&nbsp;<%= trip.ended_at.substring(11,19) %></td>
						<td><%= Math.floor(trip.duration_s / 60) %></td>
						<td><%= trip.start_address.name %></td>
						<td><%= trip.end_address.name %></td>
						<td><%= Math.round(((trip.distance_m * 0.000621371) + 0.00001) * 100) / 100 %></td>
						<td style = "visibility:hidden"><%= trip.hard_brakes %></td>
						<td style = "visibility:hidden"><%= trip.ignition_off %></td>
						<td style = "visibility:hidden"><%= trip.duration_over_70_s %></td>
						<td style = "visibility:hidden"><%= trip.engine_temperature %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
			<form action="/claims">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Scenario # </th>
							<th>Enabled?</th>
							<th>G-Forces</th>
							<th>Hard Brake</th>
							<th>Speed Over 70</th>
							<th>Ignition Off</th>
							<th>Engine Temperature</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Scenario One</td>
							<div class="checkbox">
								<td><input type="checkbox" name="scenarioEnabled" value="Check for Potential Claims" checked></td>
							</div>
							<td>Sudden drop in G-Forces</td>
							<td>Sudden hard braking</td>
							<td>Sudden deceleration</td>
							<td>Ignition is turned off</td>
							<td>Spike in engine temperature</td>
						</tr>
					</tbody>
				</table>
				<input type="submit" value="Submit Claim" style="visibility:hidden" id="submitClaim">
			</form>
			<button id="runScenarios" onclick="runScenarios()">Run Scenarios</button>
		</div>
	</div>
</body>
</html>
